@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;

  color-scheme: light dark;
  color: black;
  background-color: rgb(89, 29, 37);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.main {
  margin-top: 72px;
  padding-bottom: 48px;
}

.page-container {
  text-align: center;
  margin-top: 100px;
}

.page-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

ul {
  margin: auto;
  max-width: 600px;
  padding: 0px;
}

li {
  list-style: none;
}

.list a {
  display: flex;
  border-radius: 16px;
  margin: 16px;
  background-color: white;
  height: 50px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile {
  width: 96px;
  border-radius: 100%;
  margin-bottom: 8px;
}

.personal-data h2,
h3 {
  margin: 0px;
  color: #fff;
}

.personal-data h4 {
  margin: 0px;
  color: #b6b6b6;
}

.social-media ul {
  display: flex;
  justify-content: center;
}

.social-media a {
  margin-inline: 6px;
}

.social-media svg {
  font-size: 36px;
  color: #fff;
}

.list ul li a {
  /* Tulis gaya Anda untuk .list ul li a di sini */
  transition: transform 0.2s ease;
}

.list ul li a:hover {
  transform: scale(103%); /* Ubah sesuai dengan kebutuhan Anda */
}

.menu-container {
  margin-top: 78px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Align cards to the left and right */
  align-items: flex-start;
  gap: 12px;
  text-align: start;
}


.menu-card {
  flex: 1 0 calc(40% - 6px); 
  max-width: calc(50% - 6px);
  background-color: white;
  border-radius: 6px;
  color: black;
  padding: 4px;
  transition: transform 0.2s ease;
  margin-bottom: 2px;
}

.menu-card:hover {
  transform: scale(102%);
}

.menu-card-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.menu-card-content {
  padding: 12px;
}

.search-button-parent {
  overflow: hidden;
  background-color: rgb(107, 32, 42);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 100;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-button {
  height: 32px;
  margin-right: 12px;
  background-color: rgb(88, 25, 33);
  border: none;
  border-radius: 24px;
  padding-inline: 12px;
}

.search-button:focus {
  outline: 1px solid rgb(88, 25, 33);
}

.backbutton {
  height: 32px;
  margin-left: 12px;
  background-color: rgb(88, 25, 33);
  border: none;
  border-radius: 24px;
  padding-inline: 12px;
}

.no-results {
  color: rgb(148, 49, 62);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-weight: bolder;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  body {
    margin-inline: 12px;
  }
  .menu-list {
    justify-content: center;
  }
  .menu-card {
    flex-basis: 100%; /* Set flex basis to 100% on smaller screens */
    max-width: 100%; /* Set max-width to 100% on smaller screens */
  }
}

